.cart-page {
  display: flex;
}

.cart-list-section {
  align-self: center;
  margin-top: 100px;
}

.checkout-aside {
  display: flex;
  width: 500px;
  justify-content: center;
  margin-top: 100px;
}

.checkout-button {
  margin-top: 100px;
  background: #117552;
  color: white;
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: 600;
  border: none;
}

