.aside {
  background: #427aa1;
  border: solid black 1px;
  display: flex;
  height: fit-content;
  margin: 100px 50px 50px 20px;
  padding: 10px;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-button {
  background: white;
  border: none;
  margin: 7px;
}
