.home-page {
  display: flex;
}

.main-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-section h1 {
  margin-top: 60px;
  font-size: 20px;
}

.search-div {
  margin-left: 5%;
}

.search-input {
  height: 30px;
  margin: 20px 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 500px;
}

.search-button {
  background: #447c42;
  border-radius: 3px;
  color: white;
  font-size: 19px;
  height: 35px;
  width: 150px;
  border: none;
  height: 40px;
}

.search-button:hover {
  background: #346232;
}

.search-button:active {
  background-color: #447c42;
  color: black;
}

.aside {
  background: #292929;
  border: solid black 1px;
  border-radius: 5px;
  display: flex;
  height: fit-content;
  margin: 60px 90px 50px 20px;
  padding: 10px;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-button {
  background: #292929;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 35px;
  text-decoration: none;
  width: 180px;
}

.category-button:hover {
  background: #f9ca0a;
  color: black;
}

.category-button:active {
  opacity: 0;
  transition: 0s;
}

