.product-section {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background: #587792;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 390px;
  margin: 10px;
  padding: 5px;
  width: 300px;
}

.img-div {
  align-self: center;
  display: flex;
  height: 250px;
  justify-content: center;
}

.img-div img {
  border-radius: 10px 10px 0 0;
  width: 300px;
}

.info-div {
  background: #6c91bf;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.info-div h2 {
  font-size: 17px;
  margin: 5px;
}

.price {
  display: flex;
  font-size: 20px;
  justify-content: end;
  margin: 5px;
}
