.product-card-large {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 40px 60px -20px #0c053e26;
  display: flex;
  margin: 20px;
  width: 700px;
}
  
  .product-img-link {
    display: flex;
    padding: 7px;
  }
  
  .product-img-link img {
    max-width: 90px;
  }
  
  .title-link {
    color: black;
    text-decoration: none;
    width: 400px;
  }
  
  .product-card-large__aside--div {
    display: flex;
    justify-content: space-between;
    width: 170px;
  }
  
  .product-card-large__info {
    display: flex;
  }
  
  .product-card-large__info h2 {
    font-size: 18px;
  }
  
  .product-card-large__aside {
    align-self: center;
    display: flex;
    font-size: 20px;
    justify-content: end;
    margin-left: 10px;
    padding: 3px;
  }
  
  .product-card-large__aside--button {
    background: #292929;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    width: 25px;
  }

  .product-card-large__aside--button:hover {
    background: #414040;
  }

  .product-card-large__aside--button:active {
    font-size: 15px;
  }
  
  .__info--price {
    margin-left: 10px;
  }
  
  .__info--quantity {
    margin: 0 5px;
  }