.keep-Shopping-btn {
  align-items: center;
  background: #1743f0;
  border-radius: 3px;
  color: white;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  margin: 30px 0;
  text-decoration: none;
  width: 220px;
}

.keep-Shopping-btn:hover {
  background: #3056ec;
}

.keep-Shopping-btn:active {
  background: #2c53f1;
  font-size: 14px;
}

.checkout-button {
  background: #117552;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  height: 50px;
  width: 200px;
}

.checkout-button:hover {
  background: #159468;
}

.checkout-button:active {
  font-size: 18px;
}
